@media screen and (max-width:576px) {
    header.flex-nowrap {
        display: block;
        text-align: center;
    }
    header img{
        margin: 0 auto;
        margin-bottom: 1rem;
    }
    nav{
        display: block;
        justify-content: center;
    }

    section#features .flex-wrap{
        scroll-snap-type: x mandatory;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 20px;
    }
    section#features div.flex-wrap div.feature-box{
        scroll-snap-align: start;
        min-width: 72%;
        height: 200px;
    }
    section#features div.flex-wrap div.feature-box-content{
        margin-top: 15px;
        margin-left: 26px;
    }
    section#features div.flex-wrap div.feature-box-content h4{
        margin: 10px 0px
    }
    body h1,h2,h3,h4,h5,h6{
        font-size: 1.8rem !important;
    }
    section#portfolio .flex-wrap{
        scroll-snap-type: x mandatory;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 20px;
    }
    section#features div.flex-wrap div.portfolio-box.flex-nowrap{
        scroll-snap-align: start;
        min-width: 60%;
        height: 200px;
    }
}