@import url(Fonts.css);
@import url(Header.css);
@import url(FlexBox.css);
@import url(Colors.css);
@import url(main.css);
@import url(Footer.css);

*{
    background-color: var(--background-color);
}
body{
    padding: 1.5rem;
}

a{
    text-decoration: none;
}
hr{
    width: 100%;
    background-color: #121415;
    border: none;
    height: 2px;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
img{
    background-color: transparent;
}
@media screen and (max-width:767px) {
    section#features .flex-wrap{
        scroll-snap-type: x mandatory;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 20px;
    }
    section#features div.flex-wrap div.feature-box{
        scroll-snap-align: start;
        min-width: 60%;
        height: 200px;
    }
    body h1,h2,h3,h4,h5,h6{
        font-size: 1.8rem !important;
    }
    section#portfolio .flex-wrap{
        scroll-snap-type: x mandatory;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 20px;
    }
    section#features div.flex-wrap div.portfolio-box.flex-nowrap{
        scroll-snap-align: start;
        min-width: 60%;
        height: 200px;
    }
}

