.bg-hdr{
    /* background-color: rgb(80, 80, 80); */
    border-radius: 38px 38px 0px 0px;
}

.h1-style {
    padding: 10px 10px 0px 10px;
    margin: 0px 0px 0px 30px;
}

.nav-style{
    margin: 33px 64px 0px 0px;
    padding: 7px 10px 10px 20px;
    justify-content: space-between;
    color: white;
    /* font-size: 18px; */
}


span.user-icon {
    width: 50px;
    height: 50px;
    display: inline-block;
    background: #007ced;
    text-align: center;
    border-radius: 50%;
    line-height: 51px;
}